@import 'elements';

#wrapper {
    margin: 50px auto;
    .box-shadow(0 0 8px rgba(90,90,90,0.3));
    .rounded(5px);
    min-height: 200px;
    overflow: hidden;

    .header {
        background: #f6f6f6;
        padding: 12px 25px;
        border-bottom: 1px solid #eee;

        .logo {
            max-height: 43px;
        }
    }

    .body {
        padding: 12px 25px;

        #albums-table_filter {
            display: none;
        }

        table {
            width: 100% !important;
            border: 1px solid #eee;
            .rounded(5px);
            overflow: hidden;
            .box-shadow(0 0 4px rgba(0,0,0,0.1));

            thead {
                background: #fafafa;
            }

            a {
                display: block;
                font-size: 12px;
                text-decoration: underline;
            }

            tr {
                text-align: center;

                td {
                    vertical-align: middle;
                }

                .row-img {
                    max-width: 50px;
                }
            }

            small {
                display: block;
                font-size: 11px;
                margin: 3px 0;
            }

            tfoot {
                select {
                    min-width: 100%
                }
            }
        }
    }

    form {
        label {
            display: block;
        }

        textarea {
            min-height: 180px;
        }
    }
}