#wrapper {
  margin: 50px auto;
  -webkit-box-shadow: 0 0 8px rgba(90, 90, 90, 0.3);
  -moz-box-shadow: 0 0 8px rgba(90, 90, 90, 0.3);
  box-shadow: 0 0 8px rgba(90, 90, 90, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 200px;
  overflow: hidden;
}
#wrapper .header {
  background: #f6f6f6;
  padding: 12px 25px;
  border-bottom: 1px solid #eee;
}
#wrapper .header .logo {
  max-height: 43px;
}
#wrapper .body {
  padding: 12px 25px;
}
#wrapper .body #albums-table_filter {
  display: none;
}
#wrapper .body table {
  width: 100% !important;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
#wrapper .body table thead {
  background: #fafafa;
}
#wrapper .body table a {
  display: block;
  font-size: 12px;
  text-decoration: underline;
}
#wrapper .body table tr {
  text-align: center;
}
#wrapper .body table tr td {
  vertical-align: middle;
}
#wrapper .body table tr .row-img {
  max-width: 50px;
}
#wrapper .body table small {
  display: block;
  font-size: 11px;
  margin: 3px 0;
}
#wrapper .body table tfoot select {
  min-width: 100%;
}
#wrapper form label {
  display: block;
}
#wrapper form textarea {
  min-height: 180px;
}
